<div class="bg-kom-aboutUs bg-no-repeat bg-cover bg-center h-[55rem] w-full py-1"></div>

<div class="container mx-auto px-4">
  <div class="grid grid-cols-2 grid-rows-1 gap-4 mb-20 mt-20 w-full">
    <div>
      <h3 class="font-dalekPinpoint text-kom-orange text-3xl mb-3">PRESENTATION DE KOMNAYAH</h3>
      <div class="w-[50rem] mb-10">
        <p class="mb-2">
          At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente autem
          33 incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro ducimus est
          minima rerum.
        </p>
        <p class="mb-2">
          Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
          dolore. At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente
          autem 33 incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro
          ducimus est minima rerum
        </p>
        <p class="mb-2">
          Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
          dolore. At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente
          autem 33 incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro
          ducimus est minima rerum.
        </p>
        <p class="mb-2">
          Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
          dolore. At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem
        </p>
        <p class="mb-2">
          ex sapiente autem 33 incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos
          porro ducimus est minima rerum. Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id
          magnam dignissimos ut placeat dolore.
        </p>
      </div>
      <app-custom-button label="Contactez-nous" link="/contact-us" hasIcon></app-custom-button>
    </div>

    <div class="w-full flex justify-center items-center flex-col">
      <img src="assets/images/frame_001.jpg" height="80" width="200" alt="image de presentation" />
    </div>
  </div>
</div>

<app-kom-services />

<div class=" mx-auto bg-kom-methode bg-no-repeat h-[40rem] bg-contain mt-3 bg-top"></div>

<app-kom-equipes [setStyle]="setStyle" />
<app-kom-projets />
<app-kom-footer />
