<section class="relative overflow-hidden w-full max-h-max bg-kom-black bg-kom-projet-pattern bg-no-repeat bg-cover">
  <article class="container mx-auto px-4 py-8">

    <div class="flex justify-between items-center lg:flex-row flex-col">
      <div class="w-auto lg:w-[35rem] h-96 relative bg-black flex-col justify-start items-start inline-flex">
        <div class="h-72 border border-kom-orange flex-col justify-start items-start gap-2 inline-flex">
          <div class="pl-6 pr-2 pt-6 pb-3 justify-start items-center gap-4 inline-flex">
            <div class="justify-start items-center flex">
              <div class="w-7 h-7 origin-top-left rotate-45 bg-[#f3742d]"></div>
              <div class="w-7 h-7 origin-top-left rotate-45 mix-blend-hard-light bg-black/50 border border-black"></div>
            </div>
            <div class="text-white text-3xl font-dalekPinpoint leading-10">Un projet en tête ?</div>
            <div class="justify-start items-center flex">
              <div class="w-7 h-7 origin-top-left rotate-45 bg-[#f3742d]"></div>
              <div class="w-7 h-7 origin-top-left rotate-45 mix-blend-hard-light bg-black/50 border border-black"></div>
            </div>
          </div>
          <div class="self-stretch h-px border border-[#f3742d]"></div>
          <div class="self-stretch h-14 px-3 py-2 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="text-white text-xs font-normal">Digital</div>
              <div class="justify-center items-start flex">
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 bg-[#f3742d]"></div>
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 mix-blend-hard-light bg-black/50 border border-black">
                </div>
              </div>
              <div class="text-white text-xs font-normal">Conseils et statrégies</div>
              <div class="justify-center items-start flex">
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 bg-[#f3742d]"></div>
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 mix-blend-hard-light bg-black/50 border border-black">
                </div>
              </div>
              <div class="text-white text-xs font-normal">Médias et relations Publiques</div>
              <div class="justify-center items-start flex">
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 bg-[#f3742d]"></div>
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 mix-blend-hard-light bg-black/50 border border-black">
                </div>
              </div>
              <div class="text-white text-xs font-normal">Productions</div>
              <div class="justify-center items-start flex">
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 bg-[#f3742d]"></div>
                <div class="w-1.5 h-1.5 origin-top-left rotate-45 mix-blend-hard-light bg-black/50 border border-black">
                </div>
              </div>
              <div class="text-white text-xs font-normal">Évènementiel</div>
            </div>
          </div>
          <div class="self-stretch h-px border border-kom-orange"></div>
          <div class="self-stretch p-2 justify-start items-start gap-2 inline-flex">
            <div class="grow shrink basis-0 text-white text-sm font-light leading-normal">Vous avez un
              projet en tête et recherchez une équipe professionnelle et créative pour concrétiser votre projet ?
              Nous
              sommes là pour vous offrir une expertise sur mesure et des solutions personnalisées. Rencontrons-nous
              autour d'une tasse de café pour discuter de vos besoins et élaborer ensemble une solution adaptée à
              votre projet. Dites-nous tout !</div>
          </div>
        </div>
      </div>

      <div>
        <app-custom-button label="Cliquez ici" link="/contact-us" hasIcon></app-custom-button>
      </div>
    </div>
  </article>
</section>
