<app-kom-hero-banner />
<app-kom-services />
<app-kom-partenaires />
<app-kom-portefolio />
<app-kom-equipes />

<app-kom-articles>
  <div ngProjectAs="[article-header]">
    <div class="flex justify-between flex-col gap-2  mb-5 max-md:items-center md:flex-row ">
      <div class="flex items-center justify-center lg:justify-normal">
        <p class="mr-2 hidden lg:inline">
          <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
            <path d="M0.5 1H50.5" stroke="white" />
          </svg>
        </p>
        <h4 class="font-dalekPinpoint text-white max-md:text-center text-3xl">Nos récents articles</h4>
      </div>

      <div>
        <a routerLink="/blogs">
          <app-custom-button label="Voir plus" variant="outlined" hasIcon></app-custom-button>
        </a>
      </div>
    </div>

    <p class="text-kom-gray lg:w-[65rem] w-auto lg:mt-4 mt-5 lg:ml-12 ml-0 text-center md:text-left mb-5">
      At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem
    </p>

    <div>
      <img src="assets/images/articles/articles.png" class="w-full" alt="">
    </div>
  </div>
</app-kom-articles>

<app-kom-projets />

<app-kom-footer>
  <div ngProjectAs="[footer-content]">
    <div class="justify-start items-center gap-3.5 inline-flex">
      <div class="flex items-center">
        <p class="mr-2 hidden lg:inline">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="2" viewBox="0 0 50 2" fill="none">
            <path d="M0 0.620117H50" stroke="white" />
          </svg>
        </p>
        <div class="text-white md:text-4xl text-md font-bold font-dalekPinpoint lowercase">
          {{"contact@komnayah.ci"}}
        </div>
      </div>
    </div>
  </div>
</app-kom-footer>
