<app-navbar></app-navbar>
<app-hero-banner></app-hero-banner>

<!-- <div class="relative overflow-hidden w-full h-screen bg-red-500">
  <p>hello </p>
</div> -->

<section class="relative overflow-hidden w-full h-screen bg-red-500">

  <div class="left-[600px] top-[64px] absolute text-center text-white text-4xl font-bold font-['Dalek Pinpoint']">Nos
    services</div>
  <!-- <div class="w-96 h-96 left-[120px] top-[152px] absolute">
    <div class="w-96 h-72 left-0 top-0 absolute">
      <div class="w-96 h-48 left-0 top-0 absolute flex-col justify-start items-center gap-8 inline-flex">
        <div class="w-44 h-32 relative">
          <div class="w-20 h-20 left-[52.15px] top-[44px] absolute">
            <div class="w-14 h-14 left-[9.25px] top-[8.20px] absolute">
            </div>
          </div>
        </div>
        <div class="text-center text-white text-2xl font-medium font-['Mona Sans']">Digital</div>
      </div>
      <div
        class="w-72 left-[51px] top-[212px] absolute text-center text-white text-sm font-light font-['Mona Sans'] capitalize">
        Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
        dolore. At labore magni ex fuga voluptatum ut rerum cumque.</div>
    </div>
    <div class="w-96 h-72 left-[407px] top-0 absolute">
      <div class="w-96 h-48 left-0 top-0 absolute flex-col justify-start items-center gap-8 inline-flex">
        <div class="w-44 h-32 relative">
          <div class="w-20 h-20 left-[52.15px] top-[44px] absolute"></div>
        </div>
        <div class="self-stretch text-center text-white text-2xl font-medium font-['Mona Sans']">Médias et relations
          Publiques</div>
      </div>
      <div
        class="w-72 left-[51px] top-[212px] absolute text-center text-white text-sm font-light font-['Mona Sans'] capitalize">
        Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
        dolore. At labore magni ex fuga voluptatum ut rerum cumque.</div>
    </div>

    <div class="w-96 h-72 left-0 top-[361px] absolute">
      <div class="w-96 h-48 left-0 top-0 absolute flex-col justify-start items-center gap-8 inline-flex">
        <div class="w-44 h-32 relative">
          <div class="w-20 h-20 left-[53px] top-[44px] absolute">
            <div class="w-20 h-14 left-0 top-[10.75px] absolute">
            </div>
          </div>
        </div>
        <div class="text-center text-white text-2xl font-medium font-['Mona Sans']">Evenements</div>
      </div>
      <div
        class="w-72 left-[52px] top-[212px] absolute text-center text-white text-sm font-light font-['Mona Sans'] capitalize">
        Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
        dolore. At labore magni ex fuga voluptatum ut rerum cumque.</div>
    </div>

    <div class="w-96 h-72 left-[407px] top-[361px] absolute">
      <div class="w-96 h-48 left-0 top-0 absolute flex-col justify-start items-center gap-8 inline-flex">
        <div class="w-44 h-32 relative">
          <div class="w-20 h-20 left-[52.99px] top-[44px] absolute">
            <div class="w-10 h-14 left-[17.75px] top-[6.47px] absolute">
            </div>
          </div>
        </div>
        <div class="self-stretch text-center text-white text-2xl font-medium font-['Mona Sans']">Conseils et
          statrégies</div>
      </div>
      <div
        class="w-72 left-[51px] top-[212px] absolute text-center text-white text-sm font-light font-['Mona Sans'] capitalize">
        Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
        dolore. At labore magni ex fuga voluptatum ut rerum cumque.</div>
    </div>

    <div class="w-96 h-72 left-[816px] top-[361px] absolute">
      <div class="w-96 h-48 left-0 top-0 absolute flex-col justify-start items-center gap-8 inline-flex">
        <div class="w-44 h-32 relative">
          <div class="w-20 h-20 left-[53px] top-[44px] absolute"></div>
        </div>
        <div class="text-center text-white text-2xl font-medium font-['Mona Sans']">Veille et Data</div>
      </div>
      <div
        class="w-72 left-[51px] top-[212px] absolute text-center text-white text-sm font-light font-['Mona Sans'] capitalize">
        Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
        dolore. At labore magni ex fuga voluptatum ut rerum cumque.</div>
    </div>

    <div class="w-96 h-72 left-[816px] top-0 absolute">
      <div class="w-96 h-48 left-0 top-0 absolute flex-col justify-start items-center gap-8 inline-flex">
        <div class="w-44 h-32 relative">
          <div class="w-20 h-20 left-[52.15px] top-[44px] absolute"></div>
        </div>
        <div class="text-center text-white text-2xl font-medium font-['Mona Sans']">Productions</div>
      </div>
      <div
        class="w-72 left-[51px] top-[212px] absolute text-center text-white text-sm font-light font-['Mona Sans'] capitalize">
        Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos ut placeat
        dolore. At labore magni ex fuga voluptatum ut rerum cumque.</div>
    </div>
  </div> -->
</section>

<main class="container mx-auto px-4 py-8 mt-20">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates, voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ipsum aspernatur voluptates,
  voluptatum quia
  ratione exercitationem recusandae saepe quibusdam laboriosam unde corporis enim eius repudiandae! Iusto odio
  tempore
  dicta error.
</main>
