<section class="relative overflow-hidden w-full max-h-max bg-kom-black">
  <article class="container mx-auto px-4 py-8">
    <ng-content select="[article-header]"></ng-content>

    <div class="lg:grid lg:grid-cols-5 lg:grid-rows-1 mt-5 gap-3">
      @for (article of articles; track article) {
      <a [routerLink]="['/blogs', article.id, 'details']"
        class="flex flex-row hover:border-b-2 hover:border-l-2 hover:border-kom-orange hover:transition hover:delay-100">
        <div class="w-full">
          <div class="bg-cover bg-no-repeat w-full h-[165px] mb-2"
            [ngStyle]="{'background-image': 'url(' + article.src + ')'}">
          </div>
          <div class="flex justify-between items-baseline">
            <div class="text-kom-gray text-sm">
              <p>
                {{article.date}}
              </p>
            </div>
            <div class="text-kom-gray text-sm">
              <p class="uppercase">
                {{article.author}}
              </p>
            </div>
          </div>

          <div>
            <h2 class="text-white text-xl font-bold">{{article.description}}</h2>
            <p class="text-kom-orange uppercase">
              {{article.categorie}}
            </p>
          </div>
        </div>
      </a>
      }
    </div>
    <div>
    </div>
  </article>
</section>
