<section class="relative overflow-hidden w-full max-h-max bg-kom-black">
  <article class="container mx-auto px-4 py-8">
    <div class="flex justify-between flex-col gap-2  mb-5 max-md:items-center md:flex-row ">
      <div>
        <h4 class="font-dalekPinpoint text-white max-md:text-center">Nos récents articles
        </h4>
        <p class="text-kom-gray w-[400px]">
          At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem
        </p>
      </div>

      <div>
        <button type="button"
          class="flex items-baseline text-center border-l-0 border-r-0 border border-kom-orange text-kom-orange px-10 py-2">
          <span>
            Voir plus
          </span>
          <span class="relative top-1">
            <mat-icon aria-hidden="false" aria-label="adaptive icon menu" fontIcon="arrow_outward"></mat-icon>
          </span>
        </button>
      </div>
    </div>

    <div>
      <img src="assets/images/articles/articles.png" class="w-full" alt="">
    </div>

    <div class="lg:grid lg:grid-cols-5 lg:grid-rows-1 mt-5 gap-3">
      @for (article of articles; track article) {
      <div class="flex flex-row">
        <div class="w-full">
          <div class="bg-cover bg-no-repeat w-full h-[165px] mb-2"
            [ngStyle]="{'background-image': 'url(' + article.src + ')'}">
          </div>
          <div class="flex justify-between items-baseline">
            <div class="text-kom-gray text-sm">
              <p>
                {{article.date}}
              </p>
            </div>
            <div class="text-kom-gray text-sm">
              <p class="uppercase">
                {{article.author}}
              </p>
            </div>
          </div>

          <div>
            <h2 class="text-white text-xl font-bold">{{article.description}}</h2>
            <p class="text-kom-orange uppercase">
              {{article.categorie}}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
    <div>
    </div>
  </article>
</section>
