<section class="relative overflow-hidden p-10 w-full bg-kom-black bg-kom-service-pattern bg-no-repeat bg-cover">
  <article class="mx-auto p-10 text-center">
    <h2 class="font-dalekPinpoint mt-5 text-white text-3xl">Nos services</h2>

    <div
      class="md:grid lg:grid md:grid-cols-2 md:grid-rows-2 sm:grid-cols-1 sm:grid-rows-1 lg:grid-cols-3 lg:grid-rows-2 gap-10 items-center mt-10 text-white">
      <!-- *ngFor="let service of services"  -->
      @for (service of services; track service) {
      <div class="flex flex-col items-center gap-5 sm:mb-0 mb-10">
        <div class="mb-5 flex justify-center cursor-pointer group relative w-[400px] h-[200px]">
          <div class="absolute inset-0 bg-no-repeat bg-center transition-opacity duration-300"
            [ngStyle]="{'background-image': 'url(' + service.defaultImg + ')'}"
            [ngClass]="{'group-hover:hidden': true}"></div>
          <div
            class="absolute inset-0 bg-no-repeat bg-center opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            [ngStyle]="{'background-image': 'url(' + service.imgHover + ')'}"></div>
        </div>
        <div class="sm:w-auto lg:w-96 md:w-96 mb-10 text-center">
          <span class="font-thin">{{ service.description }}</span>
        </div>
      </div>
      }
    </div>
  </article>
</section>
