<footer class="relative overflow-hidden w-full max-h-max bg-kom-black bg-kom-footer-pattern bg-no-repeat bg-cover">
  <article class="container mx-auto px-4 py-8">

    <div class="flex justify-between items-center max-md:flex-col">
      <div class="text-white max-md:mb-5">
        <div class="w-96  text-kom-orange text-8xl font-normal leading-10">“</div>
        <div class="w-96 text-white text-xl font-medium leading-tight">Nous désirons donner le
          nouvel élan à votre business, pour votre bonheur et le profit de tous.</div>
      </div>

      <div class="text-white">
        <div class="h-36 flex-col justify-start items-end gap-12 inline-flex">
          <div class="justify-start items-center gap-3.5 inline-flex">
            <div class="text-white text-4xl font-bold font-dalekPinpoint lowercase">
              {{"contact@komnayah.ci"}}
            </div>
          </div>

          <div class="justify-start items-center gap-3.5 inline-flex">
            <div class="justify-start items-center gap-3.5 flex">
              <div class="text-white text-base font-normal lowercase max-md:text-[15px]">Réseaux sociaux</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
                <path d="M0.0214844 1.16309H50.0215" stroke="white" />
              </svg>
            </div>

            <app-kom-social-media></app-kom-social-media>
          </div>
        </div>
      </div>
    </div>
  </article>
</footer>
