<div data-hs-carousel='{
  "loadingClasses": "opacity-0",
  "isAutoPlay": false
}' class="relative">
  <div class="hs-carousel relative overflow-hidden w-full h-screen bg-white mt-14">
    <div
      class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
      <div class="hs-carousel-slide">
        <div class="flex justify-center h-full p-6 bg-kom-success bg-no-repeat bg-cover bg-center">
          <div class="w-[1440px] h-[796px] relative">
            <div class="left-0 top-0 absolute bg-black/20"></div>
            <div class="left-[25px] top-[74px] absolute">
              <div
                class="rounded-full border border-[#f3742d] left-[570px] top-[240.68px] absolute origin-top-left rotate-[-12.92deg] w-[520px] h-[255px]">
              </div>
              <div class="w-screen h-full left-[152px] top-[205.31px] absolute">
                <div class=" text-white text-[80px] font-bold font-dalekPinpoint">Our job works
                </div>
                <div class=" text-white text-[80px] font-bold font-dalekPinpoint relative top-28">for your
                  success</div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hs-carousel-slide">
        <div class="flex justify-center h-full p-6 bg-kom-world bg-no-repeat bg-cover">
          <div class="w-[1440px] h-[796px] relative">
            <div class="left-0 top-0 absolute bg-black/20"></div>
            <div class="left-[25px] top-[74px] absolute">
              <div
                class="w-[520px] h-[255px] left-[570px] top-[240.68px] absolute origin-top-left rotate-[-12.92deg] rounded-full border border-[#f3742d]">
              </div>
              <div class="w-screen h-full top-[205.31px] absolute">
                <div class=" text-white text-[80px] font-dalekPinpoint">Our
                  creatives launch</div>
                <div class=" text-white text-[80px] font-dalekPinpoint relative top-28">best ideas in
                  world
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hs-carousel-slide">
        <div class="flex justify-center h-full p-6 bg-kom-communication bg-no-repeat bg-cover">
          <div class="w-[1440px] h-[796px] relative">
            <div class="left-0 top-0 absolute bg-black/20"></div>
            <div class="left-[25px] top-[74px] absolute">
              <div
                class="w-[520px] h-[255px] left-[570px] top-[240.68px] absolute origin-top-left rotate-[-12.92deg] rounded-full border border-[#f3742d]">
              </div>
              <div class="w-screen h-full top-[205.31px] absolute">
                <div class=" text-white text-[80px] font-dalekPinpoint">We work in
                  team</div>
                <div class=" text-white text-[80px] font-dalekPinpoint relative top-28">to create best
                  communication
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <button type="button"
      class="hs-carousel-prev absolute top-2/4 p-4 ml-5 text-white border-2 border-kom-orange cursor-pointer">
      <span class="text-2xl" aria-hidden="true">
        <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m15 18-6-6 6-6"></path>
        </svg>
      </span>
      <span class="sr-only">Previous</span>
    </button>

    <button type="button"
      class="hs-carousel-next inline-flex justify-center items-center border-2 border-kom-orange absolute top-2/4 right-0 mr-5 p-4 text-white cursor-pointer">
      <span class="sr-only">Next</span>
      <span class="text-4xl" aria-hidden="true">
        <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </span>
    </button>

    <div class="hs-carousel-pagination flex justify-center absolute bottom-40 start-0 end-0 space-x-2">
      <button mat-raised-button class="flex items-baseline text-center text-lg rounded-none bg-kom-orange text-white">
        <span class="">
          Decouvrir notre agence
        </span>
        <span class="relative top-1">
          <mat-icon aria-hidden="false" aria-label="adaptive icon menu" fontIcon="arrow_outward"></mat-icon>
        </span>
      </button>
    </div>
  </div>
</div>
