<div data-hs-carousel='{
  "loadingClasses": "opacity-0",
  "isAutoPlay": true
}' class="relative">
  <div class="hs-carousel relative overflow-hidden w-full md:h-screen h-[32rem] bg-white">
    <div
      class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
      <div class="hs-carousel-slide">
        <div class="flex justify-center p-6 bg-kom-success bg-no-repeat bg-cover md:h-full h-[32rem]"></div>
      </div>

      <div class="hs-carousel-slide">
        <div class="flex justify-center p-6 bg-kom-world bg-no-repeat bg-cover md:h-full h-[32rem]"></div>
      </div>

      <div class="hs-carousel-slide">
        <div class="flex justify-center p-6 bg-kom-communication bg-no-repeat bg-cover md:h-full h-[32rem]"></div>
      </div>
    </div>

    <button type="button"
      class="hs-carousel-prev absolute top-2/4 p-4 ml-5 text-white border-2 border-kom-orange cursor-pointer">
      <span class="text-2xl" aria-hidden="true">
        <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m15 18-6-6 6-6"></path>
        </svg>
      </span>
      <span class="sr-only">Previous</span>
    </button>

    <button type="button"
      class="hs-carousel-next inline-flex justify-center items-center border-2 border-kom-orange absolute top-2/4 right-0 mr-5 p-4 text-white cursor-pointer">
      <span class="sr-only">Next</span>
      <span class="text-4xl" aria-hidden="true">
        <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </span>
    </button>

    <div class="hs-carousel-pagination flex justify-center absolute bottom-40 start-0 end-0 space-x-2">
      <app-custom-button label="Decouvrir notre agence" link="/about-us" hasIcon></app-custom-button>
    </div>
  </div>
</div>