<section class="relative overflow-hidden w-full max-h-max" [ngStyle]="setStyle?.['wrapper']">
  <article class="container mx-auto px-4 py-8">
    <div class="flex justify-between flex-col gap-2  mb-5 max-md:items-center md:flex-row ">
      <div>
        <h4 class="font-dalekPinpoint text-kom-black  max-md:text-center"
          [ngClass]="setStyle?.['title'] ? 'text-white' : 'text-kom-black'">Nos équipes
          créative <span class="text-kom-orange font-dalekPinpoint">“Les
            Nayah”</span>
        </h4>
        <p class="text-kom-gray w-[400px] max-md:m-auto">
          At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem
        </p>
      </div>

      <div>
        <button type="button"
          class="flex items-baseline text-center border-l-0 border-r-0 border border-kom-orange text-kom-orange px-10 py-2">
          <span>
            Voir plus
          </span>
          <span class="relative top-1">
            <mat-icon aria-hidden="false" aria-label="adaptive icon menu" fontIcon="arrow_outward"></mat-icon>
          </span>
        </button>
      </div>
    </div>

    <div class="outer">
      <div class='flex-container' #flexContainer>
        @for (equipe of equipes; track equipe) {
        <div class='card'>
          <div class="bg-cover bg-no-repeat bg-center h-full w-[300px]"
            [ngStyle]="{'background-image': 'url(' + equipe.img + ')'}">
            <div class="flex flex-col justify-end p-5 h-full items-center">
              <span class="text-white text-2xl font-dalekPinpoint">
                {{equipe.name}}
              </span>
              <span class="uppercase text-kom-orange text-center">
                {{equipe.job}}
              </span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </article>
</section>
