<section class="relative overflow-hidden w-full max-h-max" [ngStyle]="setStyle?.['wrapper']">
  <article class="container mx-auto px-4 py-8">
    <div class="flex justify-between flex-col gap-2  mb-5 max-md:items-center md:flex-row ">
      <div class="flex items-center justify-center lg:justify-normal">
        <p class="mr-2 hidden lg:inline">
          <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
            <path d="M0.5 1H50.5" [attr.stroke]="strokeColor" />
          </svg>
        </p>
        <h4 class="font-dalekPinpoint text-kom-black  max-md:text-center text-3xl"
          [ngClass]="setStyle?.['title'] ? 'text-white' : 'text-kom-black'">Nos équipes
          créative <span class="text-kom-orange font-dalekPinpoint text-3xl">“Les
            Nayah”</span>
        </h4>
      </div>

      <div>
        <a routerLink="/about-us">
          <app-custom-button label="Voir plus" variant="outlined" hasIcon></app-custom-button>
        </a>
      </div>
    </div>

    <p class="text-kom-gray lg:w-[65rem] w-auto lg:mt-4 mt-5 lg:ml-12 ml-0 text-center md:text-left">
      At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem
    </p>

    <div class="outer">
      <div class='flex-container' #flexContainer>
        @for (equipe of equipes; track equipe) {
        <div class='card'>
          <div class="bg-cover bg-no-repeat bg-center h-full w-[300px]"
            [ngStyle]="{'background-image': 'url(' + equipe.img + ')'}">
            <div class="flex flex-col justify-end p-5 h-full items-center">
              <span class="text-white text-2xl font-dalekPinpoint">
                {{equipe.name}}
              </span>
              <span class="uppercase text-kom-orange text-center">
                {{equipe.job}}
              </span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </article>
</section>
