<div class="bg-kom-services bg-no-repeat bg-cover lg:h-[50rem] md:h-[35rem] h-full">
  <div class="container mx-auto p-5 h-full">
    <div class="w-full flex flex-col justify-center items-center h-full p-10">
      <h4 class="font-dalekPinpoint lg:text-7xl md:tex-5xl text-3xl text-white">NOS SERVICES</h4>
      <p class="text-white mt-10 md:w-[30rem] w-auto text-center">
        At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente autem 33
        incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro ducimus est
        minima rerum. Et eius odio hic ducimus impedit ut reiciendis repellendus et dolor tempora id magnam dignissimos
        ut placeat dolore.
      </p>
    </div>
  </div>
</div>

<div class="container mx-auto md:my-10 my-0 flex justify-center items-center flex-col p-10">
  <h3 class="font-dalekPinpoint md:w-[30rem] w-full text-3xl text-center">nous participons a la croissance de votre
    entreprise
  </h3>

  @for (service of services; track service) {
  <div class="mt-10 bg-kom-black w-full p-10">
    <div class="flex lg:flex-row flex-col gap-10">
      <div class="basis-3/6 flex flex-col justify-between">
        <div class="flex items-center text-kom-orange">
          <h4 class="font-dalekPinpoint md:text-5xl text-2xl md:w-[30rem] w-auto">{{service.title}}</h4>
          <p class="ml-2 hidden lg:inline">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="2" viewBox="0 0 50 2" fill="#F3742D"
              class="bg-kom-orange">
              <path d="M0 0.620117H50" stroke="#F3742D" />
            </svg>
          </p>
        </div>

        <div class="text-white mb-10 mt-10 md:w-[30rem] w-auto">
          {{service.description}}
        </div>

        <div class="text-white">
          @for (avantage of service.avantages; track avantage) {
          <div>{{avantage.name}}</div>
          }
        </div>

        <div class="mt-10">
          <a [routerLink]="['/nos-services', service.id, 'details']">
            <app-custom-button label="Decouvrir le service" hasIcon></app-custom-button>
          </a>
        </div>

      </div>

      <div class="text-white basis-3/6">
        <div class="flex gap-5 h-full">
          <div>
            <img [src]="service.illustration" alt="" class="h-full">
          </div>
          <div>
            <img [src]="service.presentationImage" alt="" class="h-full">
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<app-kom-portefolio />
<app-kom-projets />

<app-kom-footer>
  <div ngProjectAs="[footer-content]">
    <div class="justify-start items-center gap-3.5 inline-flex">
      <div class="flex items-center">
        <p class="mr-2 hidden lg:inline">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="2" viewBox="0 0 50 2" fill="none">
            <path d="M0 0.620117H50" stroke="white" />
          </svg>
        </p>
        <div class="text-white md:text-4xl text-md font-bold font-dalekPinpoint lowercase">
          {{"contact@komnayah.ci"}}
        </div>
      </div>
    </div>
  </div>
</app-kom-footer>
