<div class="w-full bg-kom-blogs bg-no-repeat bg-cover md:h-[35rem] h-[25rem]">
  <div class="container mx-auto px-4 py-8 h-full flex flex-col justify-center">
    <h3 class="font-dalekPinpoint md:text-7xl text-5xl text-white md:text-left text-center w-auto md:w-[55rem]">
      la dernière actualité comme vous l’aimez.
    </h3>
  </div>
</div>

<div class="bg-kom-black w-full">
  <div class="container mx-auto px-4 py-8">
    <app-kom-articles>
      <div ngProjectAs="[article-header]">
        <div class="flex items-center justify-center lg:justify-normal">
          <p class="mr-2 hidden lg:inline">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
              <path d="M0 1H50.0332" stroke="white" />
            </svg>
          </p>
          <h3 class="font-dalekPinpoint text-white md:text-4xl text-2xl">
            à la une
          </h3>
        </div>

        <p class="text-kom-gray lg:w-[65rem] w-auto lg:mt-4 mt-5 lg:ml-12 ml-0">
          At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente autem
          33
          incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro ducimus est
          minima
          rerum. Et eius odio hic ducimus impedit
        </p>
      </div>
    </app-kom-articles>
  </div>
</div>

<div class="bg-kom-black w-full">
  <div class="container mx-auto px-4 py-8">
    <app-kom-articles>
      <div ngProjectAs="[article-header]">
        <div class="flex items-center justify-center lg:justify-normal">
          <p class="mr-2 hidden lg:inline">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
              <path d="M0 1H50.0332" stroke="white" />
            </svg>
          </p>
          <h3 class="font-dalekPinpoint text-white md:text-4xl text-2xl">
            les 4 articles les plus lus
          </h3>
        </div>


        <p class="text-kom-gray lg:w-[65rem] w-auto lg:mt-4 mt-5 lg:ml-12 ml-0">
          At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente autem
          33
          incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro ducimus est
          minima
          rerum. Et eius odio hic ducimus impedit
        </p>

      </div>
    </app-kom-articles>

  </div>
</div>

<div class="bg-kom-black w-full">
  <div class="container mx-auto px-4 py-8">
    <app-kom-articles>
      <div ngProjectAs="[article-header]">
        <div class="flex items-center justify-center lg:justify-normal">
          <p class="mr-2 hidden lg:inline">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
              <path d="M0 1H50.0332" stroke="white" />
            </svg>
          </p>
          <h3 class="font-dalekPinpoint text-white md:text-4xl text-2xl">
            Nos récents articles
          </h3>
        </div>

        <p class="text-kom-gray lg:w-[65rem] w-auto lg:mt-4 mt-5 lg:ml-12 ml-0">
          At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente autem
          33
          incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro ducimus est
          minima
          rerum. Et eius odio hic ducimus impedit
        </p>
      </div>
    </app-kom-articles>
  </div>
</div>


<app-kom-footer>
  <div ngProjectAs="[footer-content]">
    <div class="justify-start items-center gap-3.5 inline-flex">
      <div class="flex items-center">
        <p class="mr-2 hidden lg:inline">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="2" viewBox="0 0 50 2" fill="none">
            <path d="M0 0.620117H50" stroke="white" />
          </svg>
        </p>
        <div class="text-white  md:text-4xl text-md font-bold font-dalekPinpoint lowercase">
          {{"ADMIN@kom-nayah.COM"}}
        </div>
      </div>
    </div>

    <div>
      <div class="flex items-center gap-2">
        <div class="w-full">
          <input type="email" placeholder="Souscrivez à notre newsletter"
            class="p-5 w-full rounded border border-1  focus:text-kom-black hover:ring-1 hover:ring-inset hover:ring-kom-orange">
        </div>
        <div>
          <button class="bg-kom-orange p-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-arrow-up-right">
              <path d="M7 7h10v10" />
              <path d="M7 17 17 7" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</app-kom-footer>
