<section class="relative overflow-hidden w-full max-h-max bg-kom-black">
  <article class="container mx-auto px-4 py-8">
    <div class="flex justify-between flex-col gap-2  mb-5 max-md:items-center md:flex-row">

      <div class="flex items-center justify-center lg:justify-normal">
        <p class="mr-2 hidden lg:inline">
          <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
            <path d="M0.5 1H50.5" stroke="white" />
          </svg>
        </p>
        <h3 class="font-dalekPinpoint text-white text-4xl lg:text-3xl xl:2xl">
          PORTFOLIO
        </h3>
      </div>

      <div>
        <a routerLink="/portefolio">
          <app-custom-button label="Voir plus" variant="outlined" hasIcon></app-custom-button>
        </a>
      </div>
    </div>

    <p class="text-kom-gray lg:w-[65rem] w-auto lg:mt-4 mt-5 lg:ml-12 ml-0 text-center md:text-left">
      At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem
    </p>


    <div class="grid grid-rows-1 grid-cols-1 lg:grid lg:grid-rows-1 lg:grid-cols-3 mt-10 gap-10">
      @for (portefolio of portefolios; track portefolio) {
      <div class="wrapper_overlay">
        <div>
          <img [src]="portefolio.src" alt="logo du porte folio" class="w-full h-[650px] block">
        </div>

        <div class="overlay w-full hover:p-2">
          <div class="flex justify-between mt-2">
            <div class="flex flex-col mb-2">
              <span class="text-white text-2xl">
                {{portefolio.title}}
              </span>
              <span class="uppercase text-kom-orange">
                {{portefolio.subtitle}}
              </span>
            </div>

          </div>
          <span class="text-kom-gray">
            {{portefolio.description}}
          </span>
        </div>
      </div>
      }
    </div>
  </article>
</section>
