<div class="bg-kom-black w-full h-full">
  <div class="container mx-auto px-4 py-8">
    <h4 class="text-kom-gray mb-2 uppercase">Environ 5min de lecture</h4>
    <p class="md:text-7xl text-4xl md:text-left text-center text-white">Du Marketing classique au marketing digital :
      ce qu’il faut savoir.</p>
    <hr class="my-8 bg-kom-gray">
    <div class="flex justify-between items-center">
      <div class="flex">
        <div class="mr-4">
          <span class="inline-block size-[46px] bg-gray-100 rounded-full overflow-hidden">
            <svg class="size-full text-gray-300" width="16" height="16" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect x="0.62854" y="0.359985" width="15" height="15" rx="7.5" fill="white"></rect>
              <path
                d="M8.12421 7.20374C9.21151 7.20374 10.093 6.32229 10.093 5.23499C10.093 4.14767 9.21151 3.26624 8.12421 3.26624C7.0369 3.26624 6.15546 4.14767 6.15546 5.23499C6.15546 6.32229 7.0369 7.20374 8.12421 7.20374Z"
                fill="currentColor"></path>
              <path
                d="M11.818 10.5975C10.2992 12.6412 7.42106 13.0631 5.37731 11.5537C5.01171 11.2818 4.69296 10.9631 4.42107 10.5975C4.28982 10.4006 4.27107 10.1475 4.37419 9.94123L4.51482 9.65059C4.84296 8.95684 5.53671 8.51624 6.30546 8.51624H9.95231C10.7023 8.51624 11.3867 8.94749 11.7242 9.62249L11.8742 9.93184C11.968 10.1475 11.9586 10.4006 11.818 10.5975Z"
                fill="currentColor"></path>
            </svg>
          </span>
        </div>
        <div>
          <p class="text-white">Eric yao</p>
          <p class="font-dalekPinpoint text-white">Rédacteur en chef</p>
        </div>
      </div>

      <div class="text-white">
        <p>12 aout 2023</p>
        <p>Categorie: <span class="text-kom-gray">vie de l’agence</span></p>
      </div>
    </div>
  </div>

  <div class="md:h-[50rem] h-[15rem] w-full bg-kom-blogsDetail bg-no-repeat bg-cover"></div>

  <div class="bg-kom-black w-full">
    <div id="scrollspy-scrollable-parent-2" class="container mx-auto px-4 py-8 max-h-[800px] overflow-y-auto">
      <div class="grid grid-cols-5">
        <div class="col-span-2 text-white">
          <h2 class="text-xl font-medium dark:text-white uppercase">plan de l’article</h2>

          <ul class="sticky top-0" data-hs-scrollspy="#scrollspy-2"
            data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-2">
            <li data-hs-scrollspy-group="" class="hover:text-kom-orange ">
              <a href="#intro"
                class="block py-0.5 text-sm hover:text-kom-orange hover:font-dalekPinpoint hover:before:content-['♢'] font-medium leading-6 text-white uppercase focus:outline-none focus:text-white  hs-scrollspy-active:text-kom-orange active">
                Intro</a>
              <a href="#title-1"
                class="block py-0.5 text-sm hover:text-kom-orange hover:font-dalekPinpoint hover:before:content-['♢'] font-medium leading-6 text-white uppercase focus:outline-none focus:text-white  hs-scrollspy-active:text-kom-orange active">
                title 1</a>
              <a href="#title-2"
                class="block py-0.5 text-sm hover:text-kom-orange hover:font-dalekPinpoint hover:before:content-['♢'] font-medium leading-6 text-white uppercase focus:outline-none focus:text-white  hs-scrollspy-active:text-kom-orange active">
                title 2</a>
              <a href="#conclusion"
                class="block py-0.5 text-sm hover:text-kom-orange hover:font-dalekPinpoint hover:before:content-['♢'] font-medium leading-6 text-white uppercase focus:outline-none focus:text-white  hs-scrollspy-active:text-kom-orange active">
                conclusion
              </a>
            </li>
          </ul>
        </div>

        <div class="col-span-3">
          <div id="scrollspy-2" class="space-y-4">
            <div id="intro">
              <h3 class="font-semibold dark:text-white text-white text-3xl">Intro</h3>
              <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-neutral-400 mb-2">This is some placeholder
                content for
                the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is
                highlighted. It's repeated throughout the component example. We keep adding some more example copy here
                to emphasize the scrolling and highlighting.</p>
              <img src="assets/images/articles/article_001.jpg" alt="image article">
            </div>
            <div id="title-1">
              <h3 class="font-semibold dark:text-white text-white text-3xl">Le Marketing Classique : Fondations et
                Principes</h3>
              <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-neutral-400 mb-2">This is some placeholder
                content for
                the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is
                highlighted. It's repeated throughout the component example. We keep adding some more example copy here
                to emphasize the scrolling and highlighting.</p>
              <img src="assets/images/articles/article_002.jpg" alt="image article">

            </div>
            <div id="title-2">
              <h3 class="font-semibold dark:text-white text-white text-3xl">L'Avènement du Marketing Digital</h3>
              <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-neutral-400">This is some placeholder content for
                the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is
                highlighted. It's repeated throughout the component example. We keep adding some more example copy here
                to emphasize the scrolling and highlighting.</p>
              <img src="assets/images/articles/article_003.jpg" alt="image article">

            </div>
            <div id="conclusion">
              <h3 class="font-semibold dark:text-white text-white text-3xl">Conclusion</h3>
              <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-neutral-400">
                Le marketing digital, également appelé marketing en ligne ou marketing numérique, a émergé avec la
                montée en puissance d'Internet et des technologies associées. Contrairement au marketing classique, le
                marketing digital repose sur des canaux en ligne tels que les médias sociaux, les moteurs de recherche,
                le marketing par courriel et les sites web pour atteindre les consommateurs. L'une des caractéristiques
                les plus puissantes du marketing digital est la possibilité d'interaction en temps réel avec le public
                cible, créant ainsi un engagement plus profond et une mesure plus précise des résultats
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-kom-articles>
    <div ngProjectAs="[article-header]" class="mb-10">
      <div class="flex justify-between flex-col gap-2  mb-5 max-md:items-center md:flex-row ">
        <div class="flex items-center justify-center lg:justify-normal">
          <p class="mr-2 hidden lg:inline">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="2" viewBox="0 0 51 2" fill="none">
              <path d="M0.5 1H50.5" stroke="white" />
            </svg>
          </p>
          <h3 class="font-dalekPinpoint text-white text-4xl lg:text-3xl xl:2xl">
            Nos récents articles
          </h3>
        </div>



        <div>
          <button type="button" routerLink="/blogs"
            class="flex items-baseline text-center border-l-0 border-r-0 border border-kom-orange text-kom-orange px-10 py-2">
            <span>
              Voir plus
            </span>
            <span class="relative top-1">
              <!-- <mat-icon aria-hidden="false" aria-label="adaptive icon menu" fontIcon="arrow_outward"></mat-icon> -->
            </span>
          </button>
        </div>
      </div>
      <p class="text-kom-gray lg:w-[65rem] w-auto lg:mt-4 mt-5 lg:ml-12 ml-0">
        At labore magni ex fuga voluptatum ut rerum cumque eum culpa delectus sit velit voluptatem ex sapiente
        autem
        33
        incidunt omnis. Ad internos dolore et eaque nobis a ipsam obcaecati non dicta impedit eos porro ducimus
        est
        minima
        rerum. Et eius odio hic ducimus impedit
      </p>
    </div>
  </app-kom-articles>

  <app-kom-projets />

  <app-kom-footer>
    <div ngProjectAs="[footer-content]">
      <div class="justify-start items-center gap-3.5 inline-flex">
        <div class="flex items-center">
          <p class="mr-2 hidden lg:inline">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="2" viewBox="0 0 50 2" fill="none">
              <path d="M0 0.620117H50" stroke="white" />
            </svg>
          </p>
          <div class="text-white text-4xl font-bold font-dalekPinpoint lowercase">
            {{"contact@komnayah.ci"}}
          </div>
        </div>
      </div>
    </div>
  </app-kom-footer>
</div>
